body {
    font-family: "Times New Roman", serif;
    background-color: #f2f4f7;
    margin: 0;
    line-height: 1.7;
}

header {
    background: #1f3a5f;
    color: white;
    text-align: center;
    padding: 40px;
}

nav {
    background: #2c4c75;
    padding: 10px;
    text-align: center;
}

nav button {
    margin: 5px;
    padding: 8px 14px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

nav button:hover {
    background-color: #dcdde1;
}

section {
    background: white;
    width: 85%;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

h3 {
    color: #1f3a5f;
}

h4 {
    color: #34495e;
}

ul {
    margin-left: 25px;
}

footer {
    background: #1f3a5f;
    color: white;
    text-align: center;
    padding: 15px;
}
